<h1 class="contact-form-title">FORMULARIO DE CONTACTO</h1>

<div class="add-user-container">
  <div class="social-media-container">

  </div>
  <div class="user-form-container">
    <%= render "form", user: @user %>
  </div>
</div>

<br>
