<h1>Usuarios en <%= @city.name %></h1>

<p>
  PDF generated
  <%= Time.zone.now %>
</p>

<table class="user-info-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birth date</th>
      <th>Email</th>
      <th>Address</th>
      <th>House or Apartment</th>
      <th>Gender</th>
      <th>City</th>
      <th>Country</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
  <% @city.users.each do |user| %>
    <%= render 'users/user_pdf', user: user %>
  <% end %>
  </tbody>
</table>
