<!-- app/views/cities/index.html.erb -->
<h1 class="page-title">Ciudades</h1>

<table class="user-info-table">
  <thead>
    <tr>
      <th>Ciudad</th>
      <th>Número de Usuarios</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, city %></td>
        <td><%= city.user_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", 'javascript:history.back()', class: "back-btn" %>